/* Settings */
.wpgpt-options td { padding:7px;}
.wpgpt-options tr:nth-child(even){
	background-color:#ececec;
}
.wpgpt-options label,
.wpgpt-options input{
    cursor:pointer;
}

.wpgpt-options {
    width: 100%;
}

.wpgpt-options tr td:nth-child(1) {
    width:40%;
}

.wpgpt_settings_window h3 {
    margin:25px 0 10px 10px !important;
    color:#0073aa;
    font-size:1.3em;
}

.wpgpt_settings_window .note {
    margin-top:25px;
}

.wpgpt_settings_window  {
   height: 100vh;
}

/* Snippets */

.wpgpt-diff {
	color: #8a9093;
}

.wpgpt-diff-date {
	color: #8a9093;
	float: right;
	margin-right: 10px;
	margin-top: -20px;
	top: 20px;
	position: relative;
	font-size: 12px;
	margin-bottom: -5px;
}

.wpgpt-diff.adif {
	color: red;
}

.wpgpt-remove-all {
	float: right;
	position: relative;
	bottom: -5px;
}


/* Checks */

ul.wpgpt-warnings-list li {
	color: red;
}

.wpgpt-ignore-warnings {
	margin-top: 10px;
	display: none;
}
.wpgpt-filters{
	display: inline-block;
    float: right;
}

/* Search */

.wpgpt-search {
	padding: 0 15px 0 15px;
}

.wpgpt-search-action,
.wpgpt-search input,
.wpgpt-search button,
.wpgpt-search label {
	vertical-align: middle
}

.wpgpt-search label {
	cursor: pointer;
}

.wpgpt-search input[type=submit],
.wpgpt-search button {
	height: 25px;
}

.wpgpt-search input[type=checkbox] {
	margin-left: 5px;
}

.wpgpt-search-close-tabs,
.wpgpt-search-plugin-slug {
	display: none;
}

.wpgpt-search-plugin-slug {
	height: 1.5em;
	border: #efefef 1px solid;
}

.wpgpt-search-action,
.wpgpt-search-close-tabs {
	font-size: 1.1em;
}

.wpgpt-search-notice {
	padding-bottom: 15px;
}

.wpgpt-search-dismiss-notice {
	cursor: pointer;
}

.wpgpt-search-word {
	margin-right: 5px;
}

.wpgpt-search .error-notice {
	display: block;
	height: 20px;
	color: #6d6d6d;
}

.wpgpt-results-notice span {
	color: #d04300;
	font-weight: 500;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wpgpt-google-translate {
	margin-left: 10px !important;
	margin-top: 2px !important;
	height: 26px !important;
}


/* Glossary  */

.my-glossary {
	padding-top: 10px;
	margin-bottom: 15px;
}

table.my-glossary.glossary tr td {
	padding: 5px !important;
}