/* Settings */
.wpgpt-settings-table td { padding:7px;}
.wpgpt-settings-table tr:nth-child(even){
	background-color:#ececec;
}
.wpgpt-settings-table label,
.wpgpt-settings-table input{
    cursor:pointer;
}

.wpgpt-settings-table {
    width: 100%;
}

.wpgpt-settings-table tr td:nth-child(1) {
    width:40%;
}

.wpgpt_settings_window h3 {
    margin:25px 0 10px 10px !important;
    color:#0073aa;
    font-size:1.3em;
}
.wpgpt_settings_window .wpgpt-settings-self h3 {
    font-size:1.6em;
}

.wpgpt_settings_window .note a{

	float:right;
	font-weight: 600;
	color: #0073aa;
}

.wpgpt_settings_window  {
   min-height: 100vh;
}

/* Snippets */

.wpgpt-diff {
	color: #8a9093;
}

.wpgpt-snippet-date {
	color: #8a9093;
	float: right;
	margin-right: 10px;
	margin-top: -20px;
	top: 20px;
	position: relative;
	font-size: 15px;
	margin-bottom: -5px;
}

.wpgpt-diff.adif {
	color: red;
}
.single-project .wpgpt-diff.adif {
    color:yellow;
}

.wpgpt-remove-all {
	float: right;
	position: relative;
	bottom: -5px;
}

/* Checks */

ul.wpgpt-warnings-list li {
	color: red;
}

.wpgpt-ignore-warnings {
	display: none;
	float: right;
    margin: 0 10px;
    color: red;
}
.wpgpt-ignore-warnings label,
.wpgpt-ignore-warnings input
{
    cursor:pointer;
}
.wpgpt-filters{
	display: inline-block;
    float: right;
}

/* Search */

.wpgpt-search {
	padding: 0 15px 0 15px;
}

.wpgpt-search-action,
.wpgpt-search input,
.wpgpt-search button,
.wpgpt-search label {
	vertical-align: middle
}

.wpgpt-search label {
	cursor: pointer;
}

.wpgpt-search input[type=submit],
.wpgpt-search button {
	height: 25px;
}

.wpgpt-search input[type=checkbox] {
	margin-left: 5px;
}

.wpgpt-search-plugin-slug {
	display: none;
}

.wpgpt-search-plugin-slug {
	height: 1.5em;
	border: #efefef 1px solid;
}

.wpgpt-search-action,
.wpgpt-search-close-tabs {
	font-size: 1.1em;
}
.wpgpt-search-close-tabs {
    float: right;
    margin-right: 17px !important;
    margin-top: 6px !important;
}

.wpgpt-search-notice {
	padding-bottom: 15px;
}

.wpgpt-search-dismiss-notice {
	cursor: pointer;
}

.wpgpt-search-word {
	margin-right: 5px;
}

.wpgpt-search .error-notice {
	display: block;
	height: 20px;
	color: #6d6d6d;
}

.wpgpt-results-notice span {
	color: #d04300;
	font-weight: 500;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wpgpt-google-translate {
	margin-left: 10px !important;
	margin-top: 2px !important;
	height: 26px !important;
}

.editor-panel__right .panel-header button {
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
}

.wpgpt-actions_plus {
 margin: 0 10px;
 color:#0073aa;
}

.wpgpt-actions_plus.dashicons-plus{
	cursor:pointer;
}

.wpgpt-actions_copy.active {
 color:#0073aa;
}
.wpgpt-actions_copy.active:hover, 
.wpgpt-actions_copy.active:focus {
 color:#046594;
}


.wpgpt-actions_plus .separator:before {content:"|";  color:#c3c0c0;}
.wpgpt-actions_plus .separator {margin:0px 7px 0px 7px;}

/* Glossary  */

table.my-glossary.glossary tr td {
	padding: 5px !important;
}

.my-glossary.glossary{
	padding: 10px 15px 15px 15px;
}